{% extends 'kiosk/base.html' %}

{% load static %}

{% block content %}

<script src="{% static 'kiosk/Highcharts-6.1.1/code/highcharts.js' %}"></script>
<script src="{% static 'kiosk/Highcharts-6.1.1/code/modules/series-label.js' %}"></script>
<script src="{% static 'kiosk/Highcharts-6.1.1/code/modules/exporting.js' %}"></script>
<script src="{% static 'kiosk/Highcharts-6.1.1/code/modules/export-data.js' %}"></script>

<div class="row">
    <div class="col mt-1"><h2>Lagerübersicht</h2></div>
</div>

<div class="row">
    <div class="col">
        <div id="chart_container"></div>
    </div>
</div>

<div class="row">
    <div class="col-5">
        <div class="row">
            <div class="col">
                <form action="{% url 'import-detail'%}" method="post">
                    {% csrf_token %}
                    <button name="listimport" type="submit" class="btn btn-primary">Lakiliste einlesen</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form action="{% url 'zelt-export'%}" method="post">
                    {% csrf_token %}
                    <button name="zeltexport" type="submit" class="btn btn-primary">Kontostände exportieren</button>
                </form>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
$( "li" ).last().removeClass( "active" );
$( "#lager" ).last().addClass( "active" );


Highcharts.chart('chart_container', {

    title: {
        text: 'Lagergeldbestand'
    },
    xAxis: {
        type: 'datetime',
        labels: {
            overflow: 'justify'
        }
    },
    yAxis: {
        title: {
            text: 'Guthaben'
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            }
        }
    },

    series: [{
        name: 'Zelt 1',
        data: [
        {% for buchung in buchungen_zelt1 %}
            [Date.UTC({{buchung.datetime.year}}, {{buchung.datetime.month}}-1, {{buchung.datetime.day}}, {{buchung.datetime.hour}}, {{buchung.datetime.minute}}, {{buchung.datetime.second}}), {{buchung.balance}}],
        {% endfor %}
        ]
    },{
       name: 'Zelt 2',
        data: [
        {% for buchung in buchungen_zelt2 %}
            [Date.UTC({{buchung.datetime.year}}, {{buchung.datetime.month}}-1, {{buchung.datetime.day}}, {{buchung.datetime.hour}}, {{buchung.datetime.minute}}, {{buchung.datetime.second}}), {{buchung.balance}}],
        {% endfor %}
        ] 
    },{
       name: 'Zelt 3',
        data: [
        {% for buchung in buchungen_zelt3 %}
            [Date.UTC({{buchung.datetime.year}}, {{buchung.datetime.month}}-1, {{buchung.datetime.day}}, {{buchung.datetime.hour}}, {{buchung.datetime.minute}}, {{buchung.datetime.second}}), {{buchung.balance}}],
        {% endfor %}
        ] 
    },{
       name: 'Zelt 4',
        data: [
        {% for buchung in buchungen_zelt4 %}
            [Date.UTC({{buchung.datetime.year}}, {{buchung.datetime.month}}-1, {{buchung.datetime.day}}, {{buchung.datetime.hour}}, {{buchung.datetime.minute}}, {{buchung.datetime.second}}), {{buchung.balance}}],
        {% endfor %}
        ] 
    },{
       name: 'Zelt 5',
        data: [
        {% for buchung in buchungen_zelt5 %}
            [Date.UTC({{buchung.datetime.year}}, {{buchung.datetime.month}}-1, {{buchung.datetime.day}}, {{buchung.datetime.hour}}, {{buchung.datetime.minute}}, {{buchung.datetime.second}}), {{buchung.balance}}],
        {% endfor %}
        ] 
    },{
       name: 'Zelt 6',
        data: [
        {% for buchung in buchungen_zelt6 %}
            [Date.UTC({{buchung.datetime.year}}, {{buchung.datetime.month}}-1, {{buchung.datetime.day}}, {{buchung.datetime.hour}}, {{buchung.datetime.minute}}, {{buchung.datetime.second}}), {{buchung.balance}}],
        {% endfor %}
        ] 
    },{
       name: 'Zelt 7',
        data: [
        {% for buchung in buchungen_zelt7 %}
            [Date.UTC({{buchung.datetime.year}}, {{buchung.datetime.month}}-1, {{buchung.datetime.day}}, {{buchung.datetime.hour}}, {{buchung.datetime.minute}}, {{buchung.datetime.second}}), {{buchung.balance}}],
        {% endfor %}
        ] 
    },{
       name: 'Zelt 8',
        data: [
        {% for buchung in buchungen_zelt8 %}
            [Date.UTC({{buchung.datetime.year}}, {{buchung.datetime.month}}-1, {{buchung.datetime.day}}, {{buchung.datetime.hour}}, {{buchung.datetime.minute}}, {{buchung.datetime.second}}), {{buchung.balance}}],
        {% endfor %}
        ] 
    },{
       name: 'Zelt 9',
        data: [
        {% for buchung in buchungen_zelt9 %}
            [Date.UTC({{buchung.datetime.year}}, {{buchung.datetime.month}}-1, {{buchung.datetime.day}}, {{buchung.datetime.hour}}, {{buchung.datetime.minute}}, {{buchung.datetime.second}}), {{buchung.balance}}],
        {% endfor %}
        ] 
    },{
       name: 'Zelt 10',
        data: [
        {% for buchung in buchungen_zelt10 %}
            [Date.UTC({{buchung.datetime.year}}, {{buchung.datetime.month}}-1, {{buchung.datetime.day}}, {{buchung.datetime.hour}}, {{buchung.datetime.minute}}, {{buchung.datetime.second}}), {{buchung.balance}}],
        {% endfor %}
        ] 
    },{
       name: 'Zelt 11',
        data: [
        {% for buchung in buchungen_zelt11 %}
            [Date.UTC({{buchung.datetime.year}}, {{buchung.datetime.month}}-1, {{buchung.datetime.day}}, {{buchung.datetime.hour}}, {{buchung.datetime.minute}}, {{buchung.datetime.second}}), {{buchung.balance}}],
        {% endfor %}
        ] 
    },{
       name: 'Zelt 12',
        data: [
        {% for buchung in buchungen_zelt12 %}
            [Date.UTC({{buchung.datetime.year}}, {{buchung.datetime.month}}-1, {{buchung.datetime.day}}, {{buchung.datetime.hour}}, {{buchung.datetime.minute}}, {{buchung.datetime.second}}), {{buchung.balance}}],
        {% endfor %}
        ] 
    },{
       name: 'Zelt 13',
        data: [
        {% for buchung in buchungen_zelt13 %}
            [Date.UTC({{buchung.datetime.year}}, {{buchung.datetime.month}}-1, {{buchung.datetime.day}}, {{buchung.datetime.hour}}, {{buchung.datetime.minute}}, {{buchung.datetime.second}}), {{buchung.balance}}],
        {% endfor %}
        ] 
    },{
       name: 'Zelt 14',
        data: [
        {% for buchung in buchungen_zelt14 %}
            [Date.UTC({{buchung.datetime.year}}, {{buchung.datetime.month}}-1, {{buchung.datetime.day}}, {{buchung.datetime.hour}}, {{buchung.datetime.minute}}, {{buchung.datetime.second}}), {{buchung.balance}}],
        {% endfor %}
        ] 
    },{
       name: 'Zelt 15',
        data: [
        {% for buchung in buchungen_zelt15 %}
            [Date.UTC({{buchung.datetime.year}}, {{buchung.datetime.month}}-1, {{buchung.datetime.day}}, {{buchung.datetime.hour}}, {{buchung.datetime.minute}}, {{buchung.datetime.second}}), {{buchung.balance}}],
        {% endfor %}
        ] 
    },{
       name: 'Lager',
        data: [
        {% for buchung in buchungen_lager %}
            [Date.UTC({{buchung.datetime.year}}, {{buchung.datetime.month}}-1, {{buchung.datetime.day}}, {{buchung.datetime.hour}}, {{buchung.datetime.minute}}, {{buchung.datetime.second}}), {{buchung.balance}}],
        {% endfor %}
        ] 
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});

</script>

{% endblock %}