{% extends 'kiosk/base.html' %}

{% load static %}

{% block content %}

<div class="row">
    <div class="col mt-1"><h2>Konto von: {{laki.vorname}} {{laki.nachname}}</h2></div>
</div>

<div class="row">
    <div class="col-5">
        <div class="row">
            <div class="col">
                <h3>Heute schon abgebucht: {{ today }} €</h3>
            </div>
        </div>

        <form action="#" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    Betrag: {{form.amount}}
                    <button name="betrag" value="0" type="submit" class="btn btn-primary">Abbuchen</button>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <table class="table_btn">
                        <tr>
                            <td>
                                <button name="betrag" value="100" type="submit" class="btn btn-primary btn-lg btn_money">1 €</button>
                            </td>
                            <td>
                                <button name="betrag" value="200" type="submit" class="btn btn-primary btn-lg btn_money">2 €</button>
                            </td>
                            <td>
                                    <button name="betrag" value="1" type="submit" class="btn btn-primary btn-lg btn_money">1 Cent</button>
                            </td>
                            <td>
                                <button name="betrag" value="2" type="submit" class="btn btn-primary btn-lg btn_money">2 Cent</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button name="betrag" value="5" type="submit" class="btn btn-primary btn-lg btn_money">5 Cent</button>
                            </td>
                            <td>
                                <button name="betrag" value="10" type="submit" class="btn btn-primary btn-lg btn_money">10 Cent</button>
                            </td>
                            <td>
                                <button name="betrag" value="15" type="submit" class="btn btn-primary btn-lg btn_money">15 Cent</button>
                            </td>
                            <td>
                                <button name="betrag" value="20" type="submit" class="btn btn-primary btn-lg btn_money">20 Cent</button>
                            </td>
                        </tr>
                            <tr>
                            <td>
                                <button name="betrag" value="40" type="submit" class="btn btn-primary btn-lg btn_money">40 Cent</button>
                            </td>
                            <td>
                                <button name="betrag" value="45" type="submit" class="btn btn-primary btn-lg btn_money">45 Cent</button>
                            </td>
                            <td>
                                <button name="2betrag00" value="50" type="submit" class="btn btn-primary btn-lg btn_money">50 Cent</button>
                            </td>
                            <td>
                                <button name="betrag" value="70" type="submit" class="btn btn-primary btn-lg btn_money">70 Cent</button>
                            </td>
                        </tr>
                            <tr>
                            <td>
                                <button name="betrag" value="90" type="submit" class="btn btn-primary btn-lg btn_money">90 Cent</button>
                            </td>
                            <td colspan="3">
                                <button name="betrag" value="-15" type="submit" class="btn btn-primary btn-lg btn_money">Pfand zurück</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div
        </form>
    </div>

    <div class="col-4">
        <div class="row">
            <div class="card" id="card_hinweis">
                <div class="card-header">Hinweis</div>
                <div class="card-body">{{laki.hinweis}}</div>
            </div>
        </div>
        <div class="row">
            <table class="table table-striped table-bordered table-hover table-sm">
                <thead>
                    <tr>
                        <th scope="col">Datum</th>
                        <th scope="col">Betrag</th>
                        <th scope="col">Kontostand</th>
                    </tr>
                </thead>
                {% for buchung in buchungen %}
                <tr>
                    <td>{{buchung.datetime|date:'Y-m-d H:i'}}</td>
                    <td>{{buchung.amount}} €</td>
                    <td>{{buchung.balance}} €</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="col-3">    
        <img class="img-fluid" src="{% get_static_prefix %}kiosk/lakis/{{laki.id}}.jpg" alt="Laikibild">
    </div>
        


</div>

<script type="text/javascript">
$( "li" ).last().removeClass( "active" );
$( "#kiosk" ).last().addClass( "active" );
</script>

{% endblock %}
