{% extends 'kiosk/base.html' %}

{% load static %}

{% block content %}

<div class="row">
    <div class="col">
        <table class="table table-striped table-bordered table-hover table-sm" id="lakitable">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Vorname</th>
                    <th scope="col">Nachname</th>
                    <th scope="col">Zelt</th>
                    <th scope="col">Konto</th>
                    <th scope="col">Saldo</th>
                    <th scope="col">KK</th>
                    <th scope="col">Impf</th>
                    <th scope="col">Elternz.</th>
                    <th scope="col">Arztz.</th>
                    <th scope="col">Geburtsdatum</th>
                    <th scope="col">Geschlecht</th>
                    <th scope="col">Telefon</th>
                    <th scope="col">Handy</th>
                    <th scope="col">Straße</th>
                    <th scope="col">PLZ</th>
                    <th scope="col">Ort</th>
                </tr>
            </thead>
            <tbody>

                {% for laki in laki_liste %}

                    <tr id="laki{{laki.id}}">
                        <th scope="row">{{laki.id}}</th>
                        <td>{{laki.vorname}}</td>
                        <td>{{laki.nachname}}</td>
                        <td>{{laki.zelt}}</td>
                        <td>{{laki.konto}}</td>
                        <td>{{laki.konto.balance}} €</td>
                        <td>{{laki.krankenkassenkarteVorhanden}}</td>
                        <td>{{laki.impfpassVorhanden}}</td>
                        <td>{{laki.elternzettelVorhanden}}</td>
                        <td>{{laki.arztzettelVorhanden}}</td>
                        <td>{{laki.geburtsdatum}}</td>
                        <td>{{laki.geschlecht}}</td>
                        <td>{{laki.telefon}}</td>
                        <td>{{laki.handy}}</td>
                        <td>{{laki.strase}}</td>
                        <td>{{laki.plz}}</td>
                        <td>{{laki.ort}}</td>
                    </tr>
                    <script type="text/javascript">
                        $(document).ready(function(){
                        $('tr#laki{{laki.id}}').click(function(event) {
                          window.location.href = "{% url 'laki-detail' laki.id%}";
                        });
                      });
                    </script>
                {% empty %}
                    Keine Lakis vorhanden
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
$( "li" ).last().removeClass( "active" );
$( "#lakis" ).last().addClass( "active" );
</script>
{% endblock %}
