#lakitable_wrapper_ {
    width : 100% ;
}

.container_ {
    max-width : 1700px ;
}

.card {
    margin-bottom: 10px;
}

#card_hinweis {
    width : 95% ;
}

.table_btn {
    width : 100% ;
}

.btn_money {
    width : 90% ;
}